node_modules/

# Environment variables
.env

# Log files
logs/
!logs/.gitkeep 

# Data files 
data/
!data/.gitkeep 

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-freeze.txt
pipenv.lock
